.app-header{
    display: flex;
    height: 8vh;

    nav{
        display: flex;
        align-items: normal;

        a{
           
            img{
                height: 100%;
                padding: 1rem;
            }
        }
    }
}
