.contact-details{
    .info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;


        img{
            border-radius: 50%;
//   width: 100%;
//   height: auto;
        }
    }
}