<section class="contact-preview">
    <section class="info">
        <div class="contact-img">
            <img src="https://robohash.org/{{contact._id}}?set=set5" alt="">
        </div>
        <p>{{contact.name}}</p>
    </section>
    <section class="actions">
        <button [routerLink]="['/contact', contact._id]" class="data">Details</button>
        <button (click)="onRemoveContact($event)" class="remove-btn">X</button>
        <button [routerLink]="['edit', contact._id]">Edit</button>
    </section>
</section>